
.block_section{
   background: #ccc;
}

.block_section .block-item{  
    width:31%;
    float: left;
    background:beige;
   
   /* padding: 40px 10px;*/
   
}
.block_section .block-item.mg{margin-left: 3.5%;margin-right: 3.5%;}
.block-item .block-img img{width: 100%; margin-bottom: 20px;}

.block-item .block-img .block-overlay{    
    list-style: none;
    margin-left: 15px;
    
}
.block-item .block-img .block-overlay i{
    color: #6195ff;
    padding: 10px;
  }
.block-item .block-img .block-overlay li{
    display: inline;
    
   
  }

.block-item .block-info {margin: 15px;}

.block-item .block-info .block-info-title {padding: 10px;}
.block-item .block-info .block-info-desc{
    color: #888;
    padding: 10px;
}
.block-item .block-info a{
    padding: 10px;
    color: #6195ff;
    margin-bottom: 40px;
}

/*******************************************/