@charset "utf-8";
/* CSS Document */
   body   {   font-family: 'Varela Round', sans-serif;}
  .container {  width:80%; margin:auto;  }
  .clearfix{ clear:both;}
 
  /*---------------common section---------------------------------------------------------------------------*/
:root{--mainColor:#6195ff;}

.overlay{ 
            position:absolute; 
			width:100%; 
			height:100%; 
			top:0; 
			left:0; 
			background-color:rgba(0,0,0,0.6);
		}
			
  h1,h2,h3,h4,h5,h6{ font-family:montserrat,sans-serif;}
  
  button{ font-family:inherit;}
  
 .hoverOpacity{ transition:opacity 0.5s;}
 
 .hoverOpacity:hover{ opacity:0.8;}
 
a{text-decoration: none;}
 /*<!--****************************section-header for all section**************************-->*/

.pdy{padding:120px 0 120px; }
.section_header {text-align: center;}

.section_header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
    
}
.section_header .section-line{
    display: block;
    height: 2px;
    width: 70px;
    background-color:var(--mainColor);
    margin:0 auto 70px auto;
    }
 /*<!--****************************section-header for making effect **************************-->*/
  .mg{ 
    margin-left: 5%;
    margin-right: 5%;
    }
  .ltr-effect,
  .tb-effect{position:relative}
  .ltr-effect:after,
  .tb-effect:after{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #333;
    transition:width .5s;
    z-index: -1;
    }     
   .ltr-effect:after{
    width:0;
    transition:width .5s;
    }
   .ltr-effect:hover:after{width: 100%;}
   .tb-effect:after{
  
    height:0;
    transition:height .5s;
    }     
.tb-effect:hover:after{height: 100%;}

 *{
	         box-sizing:border-box;
	         padding:0;
	         margin:0;
             }
/*************************mid-----------*>
.mg{margin-left: 3.5%;margin-right: 3.5%;}
/*---------------End common section-------------------*/