/*-----------------------------offer section-----------------------------*/

.content-Allitem .offer-item{ 
      width:29%;
      float: left;
      border:  1px solid #888;
      margin-bottom: 37px;
      padding: 20px 30px 10px 70px;
      position: relative;
      
    
     }
.content-Allitem .offer-item .icon{
    color: #6195ff;
    position: absolute;
    top:20px;
    left:20px;

}
.content-Allitem .offer-item.mg{
     margin-left: 6.5%;
     margin-right: 6.5%;
     }
.content-Allitem .offer-item .title{
    text-transform: capitalize;
    margin-bottom: 20px;
    transition: color 0.5s;
}
.content-Allitem .offer-item .desc-offer{
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #888;
    /*text-align: center;*/
}
.content-Allitem .offer-item:hover .title{color: azure;}

/*-----------------------------End offer section-----------------------------*/